<!doctype html>
<html ng-app="HtH">

    <head>
        <style>
            .whole-screen-container {
                height: 100vh;
            }

            .tile {
                background-size: cover;
                height: 100vh;
            }

            .tile p {
                position: relative;
                top: 30%;
                transform: translateY(-50%);
                text-align: center;
                color: white;
                background-color: #fff;
                background-color: rgba(255,255,255,0.5);
            }

            p.uppercase {
                text-transform: uppercase;
            }

        </style>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//lipis.github.io/flag-icon-css/css/flag-icon.css">
        <title>Here to Help</title>
    </head>

    <body ng-controller="TileController">
    
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" dropdown on-toggle="toggled(open)">
                      <a href class="dropdown-toggle" dropdown-toggle>
                          <span class="flag-icon {$ languages[selectedLanguage] $}"></span>
                           <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu list-inline">
                           <li ng-repeat="(key, choice) in languages">
                               <a ng-click="setLanguage(key);"><span class="flag-icon {$ choice $}"</span></a>
                           </li>
                      </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="categories" class="container whole-screen-container" ng-show="categories" ng-hide="entries">
            <div class="row">
                <div class="col-md-4 tile" style="background-image: url({$ category.background_image $})" ng-click="showEntries(category.name);" ng-repeat="category in categories">
                    <p>
                        <i class="fa {$ category.fa_class $} fa-5x"></i>
                        <p class="abstract" ng-bind="category.abstract[selectedLanguage]"</p>
                    <p>
                </div>
            </div>
        </div>

        <div id="entries" class="container" ng-show="entries" ng-hide="entry">
            <div class="row">
                <div class="text-center">
                    <button type="button" class="btn btn-success text-center" ng-click="entries=null;"><i class="fa fa-arrow-up fa-2x"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3" ng-repeat="entry in entries" ng-click="showEntry(entry);">
                    <div class="thumbnail text-center">
                        <img src="https://pbs.twimg.com/profile_images/3367760412/e2d4ffa54c27b27d48488fc209313144_400x400.jpeg" alt="...">
                        <div class="caption">
                            <h3>{$ entry.title $}</h3>
                            <p>{$ entry.abstract[selectedLanguage] $}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="entry" class="container" ng-show="entry">
            <div class="row">
                <div class="text-center">
                    <button type="button" class="btn btn-success text-center" ng-click="entry=null;"><i class="fa fa-arrow-up fa-2x"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail text-center">
                        <img src="https://pbs.twimg.com/profile_images/3367760412/e2d4ffa54c27b27d48488fc209313144_400x400.jpeg" alt="...">
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <h3>{$ entry.title $}</h3>
                    <address>{$ entry.address $}</address>
                    <hr />
                    <address ng-repeat="phone in entry.phone">
                        <abbr title="Phone">P:</abbr> {$ phone.number $} 
                        <button class="btn" ng-class="phone_btn_status" ng-click="toggleCall(phone.number);">
                            <i class="fa {$ phone_status $}"></i>
                        </button>
                        <button ng-show="phone_status_text.length > 0" class="btn {$ phone_btn_status $}" ng-bind="phone_status_text"></button>
                    </address>
                </div>
                <div class="col-md-4">
                    <p class="uppercase">{$ entry.abstract[selectedLanguage] $}</p>
                    <p><i>{$entry.description[selectedLanguage] $}</i><p>
                    <p>{$entry.opening $}<p>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
        <script type="text/javascript" src="//static.twilio.com/libs/twiliojs/1.1/twilio.min.js"></script>
        <script>

            Twilio.Device.setup("{{ twilio_token }}");
            var connection=null;


            var hthApp = angular.module('HtH', ['ui.bootstrap']).config(['$httpProvider', '$interpolateProvider', function($httpProvider, $interpolateProvider) {
                                                                    $interpolateProvider.startSymbol('{$');
                                                                    $interpolateProvider.endSymbol('$}');
                                                                    $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                                                                    }]);//.run(['$http', '$cookies', function($http, $cookies) {
                                                                        //    $http.defaults.headers.post['X-CSRFToken'] = $cookies.csrftoken;
                                                                       // }]);

            hthApp.controller('TileController', function($scope, TileService) {
                $scope.entries = null;
                $scope.entry = null;
                $scope.phone_status = "fa-circle";
                $scope.phone_btn_status = "btn-primary";
                $scope.phone_status_text = ""
                $scope.languages = null;
                
                $scope.showCategories = function() {
                    TileService.getCategories().then(
                            function(data) {
                                $scope.categories = data;
                                if ($scope.languages == null) {
                                    $scope.languages = {};
                                    for(var i = 0; i < $scope.categories.length; i++) {
                                        for(var k in $scope.categories[i].abstract) {
                                            $scope.languages[k] = "flag-icon-" + k;
                                        }
                                    }
                                }
                            });
                }

                $scope.setLanguage = function(language) {
                    $scope.selectedLanguage = language;
                }

                $scope.showEntries = function(entry_category) {
                    TileService.getEntries(entry_category).then(
                                function( friends ) {
                                    $scope.entries = friends ;
                                }
                        );
                }

                $scope.showEntry = function(entry) {
                    $scope.entry = entry;
                }

                $scope.toggleCall = function() {
                    params = { "tocall" : "447793274894"};
                    connection = Twilio.Device.connect(params);
                    connection.sendDigits("447793274894");
                };

                $scope.selectedLanguage = 'gb';
                $scope.languageStatus = {
                        isopen: false
                };

                $scope.toggleLanguageDropdown = function($event) {
                            $event.preventDefault();
                            $event.stopPropagation();
                            $scope.languageStatus.isopen = !$scope.languageStatus.isopen;
                };

                Twilio.Device.ready(function (device) { 
                    $scope.phone_status_text = ""; 
                    $scope.phone_btn_status = "btn-primary"; 
                    $scope.phone_status = "fa-phone";
                });
                Twilio.Device.offline(function (device) { 
                    $scope.phone_status_text = "Dialing is unavailable"; 
                    $scope.phone_btn_status = "btn-danger"; 
                    $scope.phone_status = 'times-circle';
                });
                Twilio.Device.error(function (error) { 
                    console.log(error); 
                    $scope.phone_status_text = "There has been an error"; 
                    $scope.phone_btn_status = "btn-warning"; 
                    $scope.phone_status = 'fa-phone-square';
                });
                Twilio.Device.connect(function (conn) { 
                    $scope.phone_status_text = "Successfully established call"; 
                    $scope.phone_btn_status = "btn-success"; 
                    $scope.phone_status = 'fa-microphone';
                });
                Twilio.Device.disconnect(function (conn) { 
                    $scope.phone_status_text = "Call ended"; 
                    $scope.phone_btn_status = "btn-primary"; 
                    $scope.phone_status = 'fa-microphone-slash';
                });
                $scope.showCategories();
            });

            hthApp.service('TileService', function( $http, $q ) {
                // Return public API.
                return({
                    getEntries: getEntries,
                    getCategories: getCategories
                });

                function getEntries(entry_type) {
                    var request = $http({
                       method: "get",
                        url: "/api/entries",
                        params: {
                            category: entry_type
                        },
                    });
 
                    return( request.then( handleSuccess, alert ) );
                }

                function getCategories(entry_type) {
                    var request = $http({
                       method: "get",
                        url: "/api/categories",
                    });
 
                    return( request.then( handleSuccess, alert ) );
                }

                function handleSuccess( response ) {
 
                   return( response.data );
 
                }
    

            });

        </script>

    </body>

</html>
